/***************************************
 * Rules of home page of a tenant user *
 ***************************************/
.tenant-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    padding: 100px;
}

/*****************************************************************
 * Rules of the container of the calendar and the title above it *
 *****************************************************************/
.tenant-home-dates {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/**************************************
 * Rules of the title of the calendar *
 **************************************/
.tenant-home-dates-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/***********************************************************************
 * Rules of the section where the user selects country, state and city *
 ***********************************************************************/
.tenant-home-location-form {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/********************************************************************
 * Rules of the section where a country, state and city is selected *
 ********************************************************************/
.tenant-home-location-form-items {
    display: flex;
    gap: 50px;
}

/************************************************************************************
 * Rules of the title that accompanies a dropdown menu for a country, state or city *
 ************************************************************************************/
.tenant-home-location-form-item-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/****************************************************************************************************
 * Rules of the filtering subsystem that contains filters for the properties & services of the room *
 ****************************************************************************************************/
.tenant-home-room-details-filtering {
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
}

/******************************************************************************************
 * Rules of a set of label & select tags in the properties & services filtering subsystem *
 ******************************************************************************************/
.tenant-home-room-details-filtering-entry {
    display: flex;
    flex-direction: column;
}

/*********************************************************************
 * Rules of a label in the properties & services filtering subsystem *
 *********************************************************************/
.tenant-home-room-details-filtering-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

/**************************************************************************
 * Rules of a select tag in the properties & services filtering subsystem *
 **************************************************************************/
.tenant-home-room-details-filtering-select {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    width: 200px;
    height: 35px;
}

/*********************************************************************
 * Rules of the button that submits and applies the selected filters *
 *********************************************************************/
.tenant-home-submit-filters {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: green;
    color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: color 1s;
}

/*********************************************************************
 * Rules of the button that submits and applies the selected filters *
 *********************************************************************/
 .tenant-home-submit-filters:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: color 1s;
}

/********************************************************
 * Rules of the rest filtering system under the filters *
 ********************************************************/
.tenant-home-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/***********************************************************************
 * Rules of the panel with the result rooms before and after filtering *
 ***********************************************************************/
.tenant-home-results-panel {
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 50px;
    padding: 50px;
    border-radius: 11px;
    background-color: rgb(234, 230, 230);
    box-shadow: 5px 6px 5px gray;
}

/**************************************************************************
 * Rules of the entry of a single room of the panel with the result rooms *
 **************************************************************************/
.tenant-home-results-entry {
    display: flex;
    gap: 30px;
    padding: 20px;
    box-shadow: 2px 3px 2px gray;
    cursor: pointer;
    background-color: whitesmoke;
}

/***********************************************************************************Z*
 * Rules of the thumbnail image of a room that belongs to the panel of result rooms *
 ************************************************************************************/
.tenant-home-results-entry-image {
    width: 200px;
    height: 200px;
}

/**************************************************************************
 * Rules of the array of details that describe a room of the result panel *
 **************************************************************************/
.tenant-home-results-entry-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

/************************************************************
 * Rules of a single detail that belongs to the above array *
 ************************************************************/
.tenant-home-results-entry-detail {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

/*********************************************************************************************************
 * Rules of the link that tells the user to click it to go to the page of detailed information of a room *
 *********************************************************************************************************/
.tenant-home-results-entry-detail-click {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: green;
    margin-top: 50px;
}

/************************************************************************
 * Rules of the parent of the buttons assossiated with the page control *
 ************************************************************************/
.tenant-home-page-management {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

/***************************************************************
 * Rules of the text displaying the number of the current page *
 ***************************************************************/
.tenant-home-page-management-current-page-num {
    display: flex;
    gap: 8px;
}

/******************************************************************************
 * Rules of the context of the text displaying the number of the current page *
 ******************************************************************************/
.tenant-home-page-management-current-page-num-context {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/**************************************************************************************
 * Rules of a substantial value of the text displaying the number of the current page *
 **************************************************************************************/
.tenant-home-page-management-current-page-num-value {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(3, 140, 3);
}

/************************************************************************************
 * Rules of a single button of the page control system (when the button is enabled) *
 ************************************************************************************/
.tenant-home-page-management-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 140, 3);
    cursor: pointer;
}

/********************************************************************
 *       Rules of a single button of the page control system        *
 *  when the mouse is hovered over it (when the button is enabled)  *
 * Source: https://css-tricks.com/how-to-create-neon-text-with-css/ *
 ********************************************************************/
.tenant-home-page-management-button:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(3, 140, 3);
    cursor: pointer;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/*************************************************************************************
 * Rules of a single button of the page control system (when the button is disabled) *
 *************************************************************************************/
.tenant-home-page-management-disabled-button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: lightgreen;
}

/***********************************************************************
 * Rules of the page management subsystem that allows manual insertion *
 *        of page number and navigation to that page afterwards        *
 ***********************************************************************/
.tenant-home-page-management-goto-page {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*************************************************************
 * Rules of the title of the manual page insertion subsystem *
 *************************************************************/
.tenant-home-page-management-goto-page-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/******************************************************************************************
 * Rules of a '+' or '-' box that allows for increase or decrease of the page number by 1 *
 ******************************************************************************************/
.tenant-home-page-management-goto-page-altering-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(3, 140, 3);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
}

/********************************************************************
 * Rules of a '+' or '-' box when the mouse is hovered over it      *
 * Source: https://css-tricks.com/how-to-create-neon-text-with-css/ *
 ********************************************************************/
.tenant-home-page-management-goto-page-altering-box:hover {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: rgb(3, 140, 3);
    color: white;
    border-radius: 15px;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}

/*************************************************
 * Rules of a '+' or '-' box when it is disabled *
 *************************************************/
.tenant-home-page-management-goto-page-altering-box-disabled {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: lightgreen;
    color: white;
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    user-select: none;
}

/****************************************************************************
 * Rules of the input box that contains the manually changeable page number *
 ****************************************************************************/
.tenant-home-page-management-goto-page-input-box {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    width: 40px;
}
