/****************************
 * Rules of a Signup Button *
 ****************************/
.signup-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*****************************************
 * Rules of the label of a Signup Button *
 *****************************************/
.signup-button-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/***********************************************************
 * Rules of the parent of the input box and the input icon *
 ***********************************************************/
.signup-button-input-holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

/*****************************************
 * Rules of the input of a Signup Button *
 *****************************************/
.signup-button-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 150px;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 5px 6px 5px gray;
}

/******************************************
 * Rules of the parent of the input image *
 ******************************************/
.signup-button-icon-holder {
    width: 35px;
    height: 25px;
}

/****************************
 * Rules of the input image *
 ****************************/
.signup-button-icon {
    width: 100%;
    height: 100%;
    border-radius: 11px;
    cursor: pointer;
    margin-left: -55px;
}

/*************************************************************
 * Rules of the whole Signup Button when it has Radio Inputs *
 *************************************************************/
.signup-radio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*****************************************************************
 * Rules of the parent of all the pairs of Radio Input and label *
 *****************************************************************/
.signup-radio-input-parent {
    display: flex;
    gap: 90px;
}

/****************************************************************
 * Rules of a pair of Radio Input and the label connected to it *
 ****************************************************************/
.signup-radio-label-and-input {
    display: flex;
    gap: 15px;
}

/***************************
 * Rules of a Radio Button *
 ***************************/
.signup-radio-input-circle {
    transform: scale(1.5);
    accent-color: rgb(5, 150, 5);
}

/***********************************************
 * Rules of a label connected to a Radio Input *
 ***********************************************/
.signup-radio-label {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/******************************
 * Rules of the error message *
 ******************************/
.signup-button-error-message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    user-select: none;
}
