/*****************************
 * Rules of the sign up page *
 *****************************/
.signup {
    margin-top: 200px;
    margin-bottom: 300px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 100px;
    border-radius: 11px;
    background-color: lightgray;
    box-shadow: 5px 6px 5px gray;
}

/***********************************
 * Rules of the DOM signup buttons *
 ***********************************/
.signup-form-buttons {
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 150px;
}

/***********************************************************
 * Rules of the submit button's parent when it is disabled *
 ***********************************************************/
.signup-form-submit-parent-disabled {
    margin-top: 100px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 8px;
    text-align: center;
    background-color: gray;
}

/**************************************************************************
 * Rules of the submit button's parent when it is enabled                 *
 * Source: https://keithjgrant.com/posts/2017/07/transitioning-gradients/ *
 **************************************************************************/
.signup-form-submit-parent {
    margin-top: 100px;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 8px;
    position: relative;
    text-align: center;
    background: linear-gradient(111.3deg, rgb(30, 240, 30) 9.6%, rgb(2, 174, 2) 93.6%);
    z-index: 1;
}

.signup-form-submit-parent::before {
    border-radius: 8px;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(111.3deg, rgb(2, 174, 2) 9.6%, rgb(30, 240, 30) 93.6%);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}

.signup-form-submit-parent:hover::before {
    opacity: 1;
}

/**************************************************************
 * Rules of the submit button of the form when it is disabled *
 **************************************************************/
.signup-form-submit-disabled {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background: none;
    color: white;
}

/******************************************
 * Rules of the submit button of the form *
 ******************************************/
.signup-form-submit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

/**************************************************************************
 * Rules of the message under the Submit button that appears if there are *
 *  errors in the form, urging the user to fix them before submitting it  *
 **************************************************************************/
.signup-form-fix-errors-message {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: white;
    cursor: default;
    text-align: center;
    margin-top: -21px;
    user-select: none;
}

/*******************************************************************************
 * Rules of the error message when it is disabled, meaning there are no errors *
 *******************************************************************************/
.signup-form-fix-errors-message-disabled {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: transparent;
    cursor: default;
    text-align: center;
    user-select: none;
}

/************************************************************
 * Rules of the success message when the signup is complete *
 ************************************************************/
.signup-complete {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    color: rgb(30, 240, 30);
}

/**************************************************************
 * Rules of the image that is depicted upon successful signup *
 **************************************************************/
.signup-complete-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    width: 50%;
    max-width: 200px;
    max-height: 200px;
}
